/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/***********************************************************************************************/
/* font-face */
/***********************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea,
select {
  outline: none;
}
/***********************************************************************************************/
/* UTILITY CLASSES */
/***********************************************************************************************/
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
  margin-left: 27px;
  float: right;
}
.inline li {
  display: inline-block;
}
.inline li:last-child {
  margin-right: 0;
}
option,
select {
  background: #ffffff;
  max-width: 100%;
}
select {
  height: 34px;
  font-size: 13px;
}
.btn-plane {
  background: #ffffff;
}
.pad-left-0 {
  margin-left: 0px;
  padding-left: 0px;
}
.red {
  background: #FF0000;
  height: 30px;
  width: 56px;
  padding-top: 11px;
  padding-right: 0px;
}
.green {
  background: #007300;
  height: 30px;
  width: 56px;
  padding-top: 11px;
  padding-right: 0px;
}
.mar-20 {
  margin: 11px -36px -8px 15px;
}
.state-btm-border {
  background: ;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-top: 2px solid #999999;
  border-bottom: 3px solid #999999;
  border-left: 3px solid #999999;
  border-right: 3px solid #006600;
}
.state-btm-border img {
  padding-top: 0px;
}
.green-r {
  height: 100%;
  background: #006600;
  color: #ffffff;
}
.green-price {
  border-top: 2px solid #b3b3b3;
  border-bottom: 4px solid  #b3b3b3;
  border-top: 1px solid  #b3b3b3;
  border-left: 3px solid  #b3b3b3;
  border-radius: 1px 3px 5px 3px;
  margin-right: 0px;
  height: 32px;
}
.green-price p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.red-r {
  height: 100%;
  background: #fe0000;
  color: #ffffff;
}
.red-price {
  border-top: 2px solid #b3b3b3;
  border-bottom: 4px solid  #b3b3b3;
  border-top: 1px solid  #b3b3b3;
  border-left: 3px solid  #b3b3b3;
  border-radius: 1px 3px 5px 3px;
  margin-right: 0px;
  height: 32px;
}
.red-price p {
  padding-top: 5px;
  padding-bottom: 5px;
}
/***********************************************************************************************/
/* GENERAL TYPOGRAPHY STYLES */
/***********************************************************************************************/
body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #363636;
}
h1,
h3,
h4 {
  color: #ffffff;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
}
em {
  font-size: 14px;
  font-style: italic;
}
.order-des {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}
/**
|-----------------------------------------------------
|  SECTION-1
|-----------------------------------------------------
*/
.main-menu {
  background: #204e81;
  padding: 10px 20px;
  margin-left: 0px;
}
.main-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.main-menu li a i {
  margin-right: 5px;
  font-size: 18px;
}
.main-menu li a img {
  margin-right: 3px;
  margin-bottom: -3px;
}
i.fa.fa-home.home {
  font-size: 35px;
}
.client {
  margin-left: 33%;
}
/**
|-----------------------------------------------------
|  SECTION-2
|-----------------------------------------------------
*/
.side-bar-left {
  background: #5b9bd5;
  text-align: center;
  text-align: left;
  height: 800px;
}
.side-bar-left h2 {
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  border-bottom: 2px solid #fff;
  line-height: 50px;
}
.side-bar-left .list-inline {
  margin-top: 15px;
}
.border-1 {
  padding-bottom: 6px;
}
.border-2 {
  padding-bottom: 0px;
}
.main-content-area {
  margin: 0px;
  padding-left: 14px;
}
.option-select-group {
  background: #E1E1E1;
}
.li-1 {
  margin-left: 25px;
}
.li-2 {
  margin-left: -2px;
}
.li-3 {
  margin-left: 36px;
}
.li-4 {
  margin-left: 17px;
}
.li-5 {
  margin-left: 9px;
}
.li-6 {
  margin-left: 22px;
}
.li-7 {
  margin-left: 41px;
}
.li-8 {
  margin-left: 59px;
}
.li-9 {
  margin-left: 66px;
}
.li-10 {
  margin-left: 21px;
}
.li-11 {
  margin-left: 2px;
}
.air-choice {
  margin-left: 10px;
}
.air-choice p {
  color: #ffffff;
  font-size: 13px;
}
.air-choice a {
  color: #ffffff;
}
/**
|-----------------------------------------------------
|  input-date
|-----------------------------------------------------
*/
.input-date {
  background: #2E008E;
  /*margin-left: -15px;*/
}
.input-date input {
  border-top: 5px solid #2E008E;
  border-bottom: 5px solid #2E008E;
  text-align: right;
}
.travel-state {
  padding-right: 0px;
  text-align: center;
}

/*******added by arif*****/
.plus-cus-tr {
  cursor: pointer;
}
.air-choice {
  display: none;
}
.home {
    float: left;
    color: #fff;
    margin-left: 12px;
    margin-top: 6px;
}
.top-portion-btn:first-child {
  margin-left: 14px;
}
.top-portion-btn {
  margin-right: 10px;
}
/*.top-portion-btn:last-child {
  margin-left: 3px;
}*/
.custom-width {
  width: 190px;
}
.custom-width:first-child {
  margin-right: 5px;
}
.full:first-child {
  margin-left: 31px;
}
.full {
  width: 225px;
  border: none;
  outline: none;
  margin-right: 12px;

}
.make-white {
  color: #000;
}
.make-white:hover {
  color: #fff;
}
.btn-minify {
  cursor: pointer;
}
.col-xs-4 img {
  margin-left: -40px;
}
.input-fields-row {
  background:#03328c;
  height: 55px;  
}
.txt-right {
  text-align: right;
}

.main-content-input-sec {
  background-color: #e2e2e2;
  height: 55px;
}


